!!!
%html{:xmlns=>"http://www.w3.org/1999/xhtml"}
  %head
    %link{:rel=>"shortcut icon", :href=>"/favicon.ico"}
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html;charset=utf-8"}

    %title= page_title
    -if @meta
      -@meta.each do |key|
        %meta{:name=>key[0], :content=>key[1]}
  
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    
    /[if IE]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    
    - if @rss_title && @rss_url
      = auto_discovery_link_tag(:rss, @rss_url, {:title => @rss_title})
    
  %body.bp{:style=>body_styles}
    
    .container
    
      #header
        %h1#logo

          Your
          = link_to "Geopinion", home_path

          %span.locale
            on Moseley and Kings Heath


        %h1.page_title
          = unless @breadcrumb.blank?
            %span#breadcrumb
              = @breadcrumb
              &raquo;
              %br
          = page_title
            
      #content
        = render :partial => "shared/messages"
                  
        = yield

      #sidebar
        = yield :sidebar
      
      #footer
        = render :partial=>"shared/footer"  
    = render :partial=>"shared/scripts"
    = yield :scripts
    = render :partial=>"shared/google_analytics" unless RAILS_ENV=="development"